---
import Layout from '../layouts/Layout.astro';
import Calendar from '../components/Calendar.jsx';
---

<Layout title="Servicios y Reservas">
  <section class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4">Alquiler de Salón Social</h2>
    <ul class="list-disc pl-4">
      <li>Consulta de Días Hábiles</li>
      <li>Normatividad de Uso</li>
      <li>Pasos a Seguir</li>
    </ul>
    <Calendar/>
    <h2 class="text-2xl font-bold mb-4">Contratos de Proveedores</h2>
    <ul class="list-disc pl-4">
      <li>Vigentes</li>
      <li>Anteriores</li>
    </ul>
  </section>
</Layout>
