---
import Logotipo from '../icons/Logotipo.astro'; // Ajusta según tu estructura de carpetas
---
<header class="flex justify-between items-center py-4 w-full">
  <Logotipo class="size-12"/>
  <nav class="flex flex-row gap-x-10">
    <ul class="flex space-x-4"> <!-- Agregué las clases `flex` y `space-x-4` -->
      <li><a href="/">Inicio</a></li>
      <li><a href="/residential-complex">Conjunto Residencial</a></li>
      <li><a href="/administration">Administración</a></li>
      <li><a href="/services-reservations">Servicios y Reservas</a></li>
      <li><a href="/news">Noticias y Actualidad</a></li>
      <li><a href="/maintenance-operations">Mantenimiento y Operaciones</a></li>
    </ul>
  </nav>
</header>

