---
import Header from '../components/Header.astro'; // Ajusta la ruta según la ubicación de tu archivo
import Footer from '../components/Footer.astro'; // Ajusta la ruta según la ubicación de tu archivo
import Loader from '../components/Loader.astro'; // Ajusta la ruta según la ubicación de tu archivo
import '@fontsource-variable/onest';
import ChatBot from '../components/ChatBot';
 // Ajusta la ruta según la ubicación de tu archivo
interface Props {
	title: string;
}
let isLoaderActive = true;

const hideLoader = () => {
  isLoaderActive = false;
};
const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen bg-gray-100 text-black font-sans">
		<Loader isActive={isLoaderActive} />
		<Header />
		<main class="flex-grow flex flex-col px-4 py-0 w-full">
			<slot />
		</main>
		<Footer/>
		<ChatBot/>
	    <script>
			window.addEventListener('load', () => {
			  setTimeout(() => {
				const loader = document.querySelector('.overlay');
				if (loader) {
				//   loader.syle.display = 'none';
				}
			  }, 1000); // Retraso adicional en milisegundos (1500 ms = 1.5 segundos)
			});
		  </script>
	</body>
</html>
